<div class="container">
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Date Création</th> 
                <th class="text-center">Action</th>
            </tr>
            <tbody *ngFor="let produit of produits">
                <tr >
                    <td>{{produit.idProduit}}</td>
                    <td>{{produit.nomProduit}}</td>
                    <td>{{produit.prixProduit}}</td>
                    <td>{{produit.dateCreation | date:'dd/MM/yyyy'}}</td>
                    <td class="d-flex justify-content-center">
                        <button class="btn btn-danger btn-sm me-2" (click) = "supprimerProduit(produit)">Supprimer</button>
                        <button class="btn btn-success btn-sm ms-2" [routerLink] = "['/updateProduit' , produit.idProduit]">Modifier</button>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>